@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family-spectral, sans-serif;
    color: whitesmoke;
}

.info-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $pantone-blue;

    &__section {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-heading {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: $fontSize20;
            color: $pantone-gold;
            @include bp-medium {
                margin-bottom: 15px;
            }
            @include bp-large {
                margin-bottom: 15px;
            }
        }

        &-paragraph {
            margin-bottom: 20px;
            text-align: justify;
            font-size: $fontSize14;
        }
    }
}