@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family-spectral, sans-serif;
}

.hero-container {
    height: 100vh;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    min-width: 290px;
    justify-content: center;
    position: relative;

    background-image: url('/public/background.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;

    &__title {
        font-size: $fontSize40;
        margin-bottom: 15px;
        max-width: 290px;
    }

    &__text {
        max-width: 230px;
        margin-bottom: 30px;
    }

    &__cta {
        &-button {
            font-size: $fontSize12;
            font-weight: 300;
            background: $pantone-gold;
            padding: 18px 50px;
            border: none;
            border-radius: 12px;
            color: whitesmoke;
            cursor: pointer;
        }
    }
}
